
<section class="product">
    <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="cv1"></div>
                <div class="cv2"></div>
                <!-- <div class="cv-3 item">        
                    <div id="colorcv" class="top ">
                        <p>{{name}}</p>
                        <img src="../../assets/default prof pic.jpg">
                    </div>
                    <div class="right-cv-3">
                        <p>Professional summary</p>
                        <p>Experience</p>
                        <p>Education</p>  
                    </div>
                    <div class="left-cv-3">
                        <div class="information">
                            <ul>
                                <li><b>Contact Information</b> 
                                <ul>
                                    <li class="address">Your address</li>
                                    <li class="phone_num">Your Phone Number</li>
                                    <li class="mail">Your address Mail</li>
                                </ul></li>
                                <li><b>Skills</b> 
                                <ul class="cercle">                                        
                                    <li>Skill number 1</li> 
                                    <li>Skill number 2</li> 
                                    <li>Skill number 3</li> 
                                    <li>Skill number 4</li> 
                                    <li>Skill number 5</li> 
                                </ul></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
            <button class="next" appNext></button>
            <button class="prev" appPrev></button>
        </div>
    </div>
</section>

